@charset "utf-8";

/*
Design by liuwz 2014.6.27
CSS rest */

body {
	line-height: 1.4;
	color: #333;
	font-family: arial;
	font-size: 14px;
	background: white;
	overflow-x: hidden;
}

input,
textarea,
select {
	font-size: 12px;
	font-size: 100%;
	font-family: arial;
	font-family: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
	margin: 0;
	line-height: initial;
}

h4,
h5,
h6 {
	font-size: 1em;
}

ul,
ol {
	padding-left: 0;
	list-style-type: none;
}


/*image with no-border*/

a img {
	border: 0;
}

img {
	border: 0;
}

input.radius {
	padding-left: .6em;
	padding-right: .6em;
}

input,
select,
textarea,
h4,
h5 {
	font-size: 100%;
}

textarea {
	width: 96%;
}

a {
	color: #000;
	text-decoration: none!important;
}

a:active {
	color: inherit
}

label[data-length] {
	display: inline-block;
	margin-right: .2em;
	text-align: right;
}

label[data-length="4"] {
	width: 4em;
}

label[data-length="5"] {
	width: 5em;
}

label[data-length="6"] {
	width: 6em;
}

header {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	margin-top: 2px\9;
}

header h1 {
	font-weight: bold;
}

.disi {
	display: -moz-inline-stack;
	display: inline-block;
	position: relative;
	zoom: 1;
}


/* colors */

.co {
	color: #C6224A;
}

.cb {
	color: #000;
}

.cr {
	color: #CD3A5E
}

.cy {
	color: #c49f47 !important
}

.cp {
	color: #8e5fa2 !important
}

.cg {
	color: #7caf3c !important
}

.g3 {
	color: #333;
}

.g6 {
	color: #666;
}

.g9 {
	color: #999;
}

.wh {
	color: #fff;
}

.abs {
	position: absolute;
}

.rel {
	position: relative;
}

.tc {
	text-align: center!important;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.mr10 {
	margin-right: 10px;
}

.mr5 {
	margin-right: 5px;
}

.mr2 {
	margin-right: 2px;
}

.pl10 {
	padding-left: 10px;
}

.pr10 {
	padding-right: 10px;
}

.p10 {
	padding: 10px;
}

.pl70 {
	padding-left: 70px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mb5 {
	margin-bottom: 5px;
}

.l {
	float: left;
}

.r {
	float: right;
}

.ovh {
	overflow: hidden;
}

.no {
	border: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.t55 {}


/* column */

.col {
	overflow: hidden;
}

.col_two {
	width: 50%;
	float: left;
}

.col_three {
	width: 33.33%;
	float: left;
}


/* ellipsis */

.ell {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/* remind */

.rem {
	padding: 0 .8em;
	overflow: hidden;
	color: #C6224A;
}

.radl6 {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.radr6 {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}


/* ico achieved by font */

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot');
	/* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	display: inline-block;
	width: 32px;
	height: 24px;
	vertical-align: middle;
	border-radius: 5px;
	border: 1px #000 solid
}

.icon-ct {
	display: inline-block;
	height: 24px;
	width: 32px;
	border-radius: 5px;
	vertical-align: middle;
	overflow: hidden
}

.icon-ct img {
	height: 24px;
	width: 32px;
}


/* buttons */

.btn {
	display: inline-block;
	padding: .45em .4em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 0 1px rgba(255, 255, 255, .4);
	-o-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 0 1px rgba(255, 255, 255, .4);
	-moz-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 0 1px rgba(255, 255, 255, .4);
	box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px rgba(255, 255, 255, .4);
	text-align: center;
	cursor: pointer;
	overflow: visible;
	min-width: 60px;
}

.btn-m {
	display: inline-block;
	padding: .2em .4em;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 0 1px rgba(255, 255, 255, .4);
	-o-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 0 1px rgba(255, 255, 255, .4);
	-moz-box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 0 1px rgba(255, 255, 255, .4);
	box-shadow: 0 1px rgba(255, 255, 255, .6), inset 0 1px rgba(255, 255, 255, .4);
	text-align: center;
	cursor: pointer;
	overflow: visible;
	border-color: #DADADA;
}

select.btn-m {
	padding: .2em;
}

.purple.btn {
	color: #FFFFFF;
	background-color: #8e5fa2;
}

.btn-xs {
	padding: 1px 5px;
}

.btn:active,
.btn.active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)), color-stop(50%, rgba(255, 255, 255, .1)), color-stop(50%, rgba(255, 255, 255, .30)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .12) 50%, rgba(255, 255, 255, .2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .12) 50%, rgba(255, 255, 255, .2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .12) 50%, rgba(255, 255, 255, .2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .12) 50%, rgba(255, 255, 255, .2));
}

.redbtn {
	border: 1px solid #9C1908;
	background-color: #C6224A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .2)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .1)));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .30) 50%, rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, 0));
	/* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .30) 50%, rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, 0));
	/* FF3.6 */
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .30) 50%, rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, 0));
	/* Opera 11.10+ */
	background-image: linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .30) 50%, rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, 0));
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.redbtn.active,
.redbtn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	z-index: initial;
	color: #fff;
}

.graybtn {
	border: 1px solid #BABABA;
	background-color: #e0e0e0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(0, 0, 0, 0)));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	/* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	/* FF3.6 */
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	/* Opera 11.10+ */
	background-image: linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	color: #666;
	text-shadow: 0 1px #fff;
}

.graybtn.active,
.graybtn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	z-index: initial;
}

.bluebtn {
	border: 1px solid #2D4668;
	background-color: #4480D2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(0, 0, 0, 0)));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	/* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	/* FF3.6 */
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	/* Opera 11.10+ */
	background-image: linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .30) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	color: #fff;
}

.block .btn {
	display: block;
}


/* group of buttons */

.group {
	margin: .5em;
}

.group .btn {
	border-radius: 0;
}


/* radius */

.radius {
	border: 1px solid #ababab;
	border-radius: .5em;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
}


/* square */

.square {
	background-color: #F3F3F3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
}


/* space */

.space {
	margin: .5em;
}


/* list */

ul.radius li,
ul.square li {
	border-bottom: 1px solid #ccc;
}

ul.radius li:last-child {
	border-bottom: 0;
}

.col.radius .col_two:nth-of-type(even) {
	box-shadow: inset -1px 0 #ccc;
}

.col.radius .col_two:nth-last-child(2) {
	border-bottom: 0;
}

.li_a,
.li_a_bar {
	display: block;
	padding: 0.45em 20px .45em 15px;
	position: relative;
	overflow: hidden
}

.li_a .ico_arrow,
.li_a_bar .more {
	margin-top: -8px;
	position: absolute;
	right: 15px;
	top: 50%;
}

.li_a .ico_arrow {
	color: #666;
}

.li_a_bar .more {
	color: #C6224A;
}

.li_a:hover {
	background: #f5f5f5!important;
}

.li_a:active,
.li_a.active {
	background: #e0e0e0!important;
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), inset 0 -2px 3px rgba(0, 0, 0, .2), 0 0 9px #387BBE;
	-moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), inset 0 -2px 3px rgba(0, 0, 0, .2), 0 0 9px #387BBE;
	-o-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), inset 0 -2px 3px rgba(0, 0, 0, .2), 0 0 9px #387BBE;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), inset 0 -2px 3px rgba(0, 0, 0, .2), 0 0 9px #387BBE;
}

.li_a.sel {
	background: #e0e0e0!important;
}

.li_a.sel:before {
	font-family: "iconfont" !important;
	content: "\e604";
	position: absolute;
	right: 15px;
	font-size: 20px;
	color: #C6224A;
}

.li_a_bar {
	margin-bottom: -1px;
	border: solid #fff;
	border-width: 1px 1px 0;
	background-color: #E6DBDB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #E9E9E9, #f5f5f5);
	background-image: -moz-gradient(linear, left top, left bottom, from(#E9E9E9), to(#f5f5f5));
	background-image: -moz-linear-gradient(top, #E9E9E9, #f5f5f5);
	background-image: -o-gradient(linear, left top, left bottom, from(#E9E9E9), to(#f5f5f5));
	background-image: -o-linear-gradient(top, #E9E9E9, #f5f5f5);
	color: #333;
}

.li_a_bar:active {
	background-color: #E6DBDB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CECECE), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #CECECE, #E9E9E9);
	background-image: -moz-gradient(linear, left top, left bottom, from(#CECECE), to(#f5f5f5));
	background-image: -moz-linear-gradient(top, #CECECE, #E9E9E9);
	background-image: -o-gradient(linear, left top, left bottom, from(#CECECE), to(#f5f5f5));
	background-image: -o-linear-gradient(top, #CECECE, #f5f5f5);
}

.li_div {
	padding: .7em 15px;
}

.li_a_bar {
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	font-weight: bold
}


/* highlight */

a.highlight,
ul.highlight .li_a {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .8)), to(rgba(255, 255, 255, 0)));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
	/* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
	/* FF3.6 */
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
	/* Opera 11.10+ */
	background-image: linear-gradient(top, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
}


/* line */

.line {
	border-bottom: 1px solid #ccc;
}

.line2 {
	border-bottom: 1px dashed #333;
}


/* bar */

.bar {
	padding: .4em .5em;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #bebebe;
	background-color: #dedede;
	box-shadow: 0 1px #e5e5e5;
	position: relative;
}

.bar:before {
	content: ' ';
	width: 100%;
	border-top: 1px solid #ccc;
	position: absolute;
	left: 0;
	right: 0;
	top: -2px;
}

.group li:last-child .btn {
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

.group li:first-child .btn {
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
}


/* constructor */

.index_logo {
	background: url(img/logo.png) no-repeat center center;
	background-size: 245px 40px;
	height: 80px
}

nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px #999 dashed;
	padding: 5px;
	z-index: 3;
}

.navActive {
	background-color: #AA0E34 !important;
}

.nav {
	/*background-color: #C6224A;*/
	border-radius: 5px;
	padding-top: 30px!important;
}

.nav .name {
	line-height: 13px;
	font-size: 12px;
	letter-spacing: -1px;
}

#navItem,
#nav1 {
	position: fixed;
	bottom: 59px;
	z-index: 2;
}

#navItem {
	width: 79%;
	right: 3px;
}

#nav1 {
	left: 3px;
	display: none;
}

#navItem li,
#nav1 li {
	background: #C6224A;
	padding: 0px 8px;
	margin-bottom: 1px;
	letter-spacing: normal;
}

#navItem ul {
	/* position: absolute; */
	/* width: 100%; */
	/* z-index: 2; */
	/* bottom: -50px; */
}

#navItem li {
	background: #C6224A;
	text-align: left;
	/* height:35px; */
	/* line-height: 35px; */
	padding: 0 10px;
	letter-spacing: normal;
	position: relative;
}

#navItem li:hover,
#nav1 li:hover,
.nav:hover {
	background: #BB1D44;
}

#nav1 li a,
#navItem li a {
	color: #fff;
	display: block;
	/* white-space: nowrap; */
	padding: 5px 0;
}

.nav1,
.nav2,
.nav3,
.nav4,
.nav5 {
	position: relative;
	cursor: pointer;
	background-color: #C6224A;
	border-radius: 5px;
}

.nav1:before,
.nav2:before,
.nav3:before,
.nav4:before,
.nav5:before {
	position: absolute;
	font-size: 24px;
	color: #fff;
	left: 50%;
	margin-left: -12px;
	text-align: center;
	top: 5px
}

.nav1:before {
	content: "\e602";
}

.nav2:before {
	content: "\e60b";
}

.nav3:before {
	content: "\e611";
}

.nav4:before {
	content: "\e60f";
}

.nav5:before {
	content: "\e603";
	font-size: 22px;
}

#mBox {
	overflow: hidden;
	width: 500px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}

#mBox span {
	margin-right: 15px;
	list-style-type: lower-latin;
	font-size: 14px;
}

#mBox span:before {
	width: 5px;
	height: 7px;
	content: "◆";
	margin: -2px 0 0 -7px;
	overflow: hidden;
}

#mBox m {
	display: inline;
}


/* search area of index page */

.index_s {
	padding: .5em;
	margin-top: -2px;
	border-bottom: 1px solid #fff;
	box-shadow: inset 0 -1em 1em rgba(0, 0, 0, .1);
}

.index_s .search {
	width: 12.8em;
}


/* location area of index page */

.index_loc {
	padding: 0 .5em 1em;
}

.index_loc .rem {
	border-width: 0 1px 1px;
}


/* key search area of index_page */

.index_ks {
	padding: .5em .5em 1em;
	position: relative;
}

.index_ks_li {
	margin-right: 3em;
}

.index_ks .more {
	position: absolute;
	top: .5em;
	right: .5em;
}

.index_ks_li a {
	display: inline-block;
	margin-right: .5em;
	margin-bottom: .5em;
}


/* detail_page */

.detail_img {
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.detail_data {
	padding-left: 82px;
	font-size: 88%;
}

.detail_data p {
	margin: .2em 0;
}


/* ---------------------single CSS----------------------- */


/* display */

@keyframes rotate360 {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes rotate360 {
	0% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes scaelx {
	0% {
		color: #C6224A;
	}
	20% {
		color: #F60;
	}
	40% {
		color: #CC0;
	}
	60% {
		color: #F6C;
	}
	80% {
		color: #690;
	}
	100% {
		color: #C6224A;
	}
}

@-webkit-keyframes scaelx {
	0% {
		color: #C6224A;
	}
	20% {
		color: #F60;
	}
	40% {
		color: #CC0;
	}
	60% {
		color: #F6C;
	}
	80% {
		color: #690;
	}
	100% {
		color: #C6224A;
	}
}

.dn {
	display: none;
}

.di {
	display: inline;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}


/* if the element is block level(eg. div, li), using 'inline_any' instead */


/* height */

.h5 {
	height: 3px;
	margin: 0;
}

.h24 {
	height: 24px;
}

.h38 {
	height: 38px;
}


/* width */


/* fixed width value */

.w10 {
	width: 10px;
}

.w20 {
	width: 20px;
}

.w50 {
	width: 50px;
}


/* percent width value */

.pct10 {
	width: 10%;
}

.pct60 {
	width: 60%;
}

.pct80 {
	width: 80%;
}

.pct90 {
	width: 90%;
}

.pct100 {
	width: 100%;
	box-sizing: border-box;
}

.mx380 {
	max-width: 380px;
}


/* line-height */

.lh14 {
	line-height: 14px;
}

.lh16 {
	line-height: 16px;
}

.lh18 {
	line-height: 18px;
}

.lh20 {
	line-height: 20px;
}

.lh22 {
	line-height: 22px;
}

.lh24 {
	line-height: 24px;
}

.lh38 {
	line-height: 38px;
}


/* padding */

.p2 {
	padding: 2px;
}

.pl2 {
	padding-left: 2px;
}

.pt2 {
	padding-top: 2px;
}

.pr2 {
	padding-right: 2px;
}

.pr30 {
	padding-right: 30px;
}

.pb2 {
	padding-bottom: 2px;
}

.pl5 {
	padding-left: 5px;
}

.p5 {
	padding: 5px;
}

.pt5 {
	padding-top: 5px;
}

.pr5 {
	padding-right: 5px;
}

.pb5 {
	padding-bottom: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pl15 {
	padding-left: 15px;
}


/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/

.bdc {
	border: 1px solid #ccc;
}

.bdd {
	border: 1px solid #ddd;
}

.ble {
	border-left: 1px solid #eee;
}

.bre {
	border-right: 1px solid #eee;
}

.bte {
	border-top: 1px solid #eee;
}

.bbe {
	border-bottom: 1px solid #eee;
}


/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */

.bgdb {
	background-color: #7FAEC9
}

.bgwh {
	background-color: #fff;
}

.bgeb {
	background-color: #ebebeb;
}

.bgf {
	background-color: #F73F6A
}

.bgz {
	background-color: #B250BA
}

.bgn {
	background-color: #009BE3
}

.bgl {
	background-color: #fff!important;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF)!important;
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff)!important;
	background-image: -ms-linear-gradient(top, #ffffff, #ffffff)!important;
	background-image: -o-linear-gradient(top, #ffffff, #ffffff)!important;
	color: #C6224A;
}

.bgr {
	background-color: #C6224A
}

.y1,
.y2,
.y3 {
	background-color: #fff;
	width: 18%;
	box-sizing: border-box;
	font-size: 14px;
}

.y1:before,
.y2:before,
.y3:before {
	background-color: #C6224A;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
}

.y1:after,
.y2:after,
.y3:after {
	background-color: #000;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
}


/* font-size */

.f0 {
	font-size: 0;
}

.f10 {
	font-size: 10px;
}

.f12 {
	font-size: 12px!important;
	;
}

.f13 {
	font-size: 13px!important;
	;
}

.f14 {
	font-size: 14px!important;
}

.f16 {
	font-size: 16px!important;
	;
}

.f18 {
	font-size: 18px!important;
	;
}

.f20 {
	font-size: 20px!important;
	;
}

.f24 {
	font-size: 24px;
}


/* font-family */

.fa {
	font-family: Arial;
}


/* font-style */

.b {
	font-weight: bold;
}

.nb {
	font-weight: normal;
}


/* text-align */

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.tj {
	text-align: justify;
}


/* text-decoration */

.tdl {
	text-decoration: underline;
}

.tdn,
.tdn:hover,
.tdn a:hover,
a.tdl:hover {
	text-decoration: none;
}


/* white-space */

.nowrap {
	white-space: nowrap;
}


/* word-wrap */

.bk {
	word-wrap: break-word;
}


/* vertical-align */

.vm {
	vertical-align: middle;
}


/* float */

.l {
	float: left;
}

.r {
	float: right;
}


/* clear */

.cl {
	clear: both;
}


/* cursor */

.poi {
	cursor: pointer;
}


/* overflow */

.ovh {
	overflow: hidden;
}

.ova {
	overflow: auto;
}


/* visibility */

.vh {
	visibility: hidden;
}

.vv {
	visibility: visible;
}


/* zoom */

.z {
	*zoom: 1;
}


/* ------------------- multiply CSS ------------------ */


/* 块状元素水平居中 */

.auto {
	margin-left: auto;
	margin-right: auto;
}


/* 清除浮 动*/

.fix {
	*zoom: 1;
}

.fix:after {
	display: table;
	content: '';
	clear: both;
}


/* 基于display:table-cell的自适应布局 */

.cell {
	display: table-cell;
	*display: inline-block;
	width: 2000px;
	*width: auto;
}


/* 双栏自适应cell部分连续英文字符换行 */

.cell_bk {
	display: table;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
}


/* 单行文字溢出虚点显 示*/

.ell {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/* css3过渡动画效果 */

.trans {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


/* 大小不定元素垂直居中 */

.dib_vm {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}


/* 加载中*/

.loading {
	width: 30px;
	height: 30px;
	display: inline-block;
	-webkit-animation: rotate360 800ms infinite linear;
	-moz-animation: rotate360 800ms infinite linear;
	-o-animation: rotate360 800ms infinite linear;
	animation: rotate360 800ms infinite linear;
	margin-left: -60px;
}

.donghua {
	width: 115px;
	height: 115px;
	-webkit-animation: scaelx 800ms infinite linear;
	-moz-animation: scaelx 800ms infinite linear;
	-o-animation: scaelx 800ms infinite linear;
	animation: scaelx 800ms infinite linear;
}

.donghua svg {
	fill: currentColor;
}

.loading .a,
.loading .a:before,
.loading .a:after {
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
}

.a:after {
	border-radius: 30px;
	background-color: #FFF;
	width: 26px;
	height: 26px;
	left: 50%!important;
	top: 50%!important;
	margin-left: -13px;
	margin-top: -13px;
	content: "";
}

.a:before {
	border-radius: 30px 0 0 30px;
	background-color: #F90;
	width: 15px;
	height: 30px;
	content: "";
}

.a {
	border-radius: 30px;
	background-color: #06C;
	width: 30px;
	height: 30px;
	content: "";
}

#div_mask {
	z-index: 0;
	background-color: #000000;
	filter: alpha(opacity=50);
	/*IE滤镜，透明度50%*/
	-moz-opacity: 0.5;
	/*Firefox私有，透明度50%*/
	opacity: 0.5;
	/*其他，透明度50%*/
	height: 100%;
	width: 100%;
	-webkit-box-flex: 1;
	position: fixed;
	top: 0;
	left: 0px;
	display: none;
}


/* 无框文本框文本域 */

.bd_none {
	border: 0;
	outline: none;
	box-sizing: border-box;
}


/* 点点框 */

.bd_x {
	border-bottom: 1px #C6224A dotted!important;
	border-top: 1px #C6224A dotted!important;
	border-left: 1px #C6224A dotted!important;
	border-right: 1px #C6224A dotted!important;
	background: #FFD7D7;
	font-weight: bold
}


/* 按钮禁用 */

.disabled {
	color: #acacac!important;
	border-color: #acacac!important;
	text-shadow: 1px 1px #fff!important;
	outline: 0!important;
	cursor: default!important;
	pointer-events: none;
}

.disabled:hover {
	text-decoration: none!important;
}


/*inline-block与float等宽列表*/

.inline_box {
	font-size: 0;
	letter-spacing: -.25em;
	font-family: Arial;
	display: -moz-box;
	/* Firefox */
	display: -ms-flexbox;
	/* IE10 */
	display: -webkit-box;
	/* Safari */
	display: -webkit-flex;
	/* Chrome, WebKit */
	display: box;
	display: flexbox;
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	clear: both;
	overflow: hidden;
	background: url(img/backline.png) center center\9;
	*/
}

.med {
	background: none\9;
	*/
}

.inline_two,
.inline_three,
.inline_four,
.inline_five,
.inline_six,
.inline_any {
	display: inline-block;
	letter-spacing: 0;
	vertical-align: top;
	*zoom: 1;
	float: left;
	box-sizing: border-box;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

.float_two,
.float_three,
.float_four,
.float_five,
.float_six {
	float: left;
}

.inline_two,
.float_two {
	width: 49.9%;
}

.inline_three,
.float_three {
	width: 33.3%;
}

.inline_four,
.float_four {
	width: 24.5%;
}

.inline_five,
.float_five {
	width: 20%;
	width: 19.9%\9;
}

.inline_fix {
	display: inline-block;
	width: 100%;
	height: 0;
	overflow: hidden;
}


/* table 样式 */

.tab1,
.tab2 {
	*border-collapse: collapse;
	/* IE7 and lower */
	border-spacing: 0;
	width: 100%;
	overflow: hidden;
	border-collapse: initial;
}

.tab1 caption,
.tab2 caption {
	text-align: left;
	font-weight: bold;
	line-height: 30px;
	margin-top: 15px;
	margin-left: 1px;
	margin-right: 1px;
}

.tab1 {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	-o-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.tab1 tr {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.tab1 .highlight,
.tab1 tr:hover {
	background: #fbf8e9;
}

.tab1 td,
.tab1 th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px 5px;
	text-align: left;
	box-sizing: border-box;
}

.tab1 th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.tab1 td:first-child,
.tab1 th:first-child {
	border-left: none;
}

.tab1 th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0!important;
}

.tab1 th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.tab1 tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.tab1 tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.tab2 {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	-o-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.tab2 tr {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.tab2 .highlight,
.tab2 tr:hover {
	background: #fbf8e9;
}

.tab2 td,
.tab2 th {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

.tab2 th {
	background-color: #F1F1F1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#Fbfbfb), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #FBFBFB, #E6E6E6);
	background-image: -moz-linear-gradient(top, #FBFBFB, #E6E6E6);
	background-image: -ms-linear-gradient(top, #FBFBFB, #E6E6E6);
	background-image: -o-linear-gradient(top, #FBFBFB, #E6E6E6);
	background-image: linear-gradient(top, #FBFBFB, #E6E6E6);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FBFBFB, endColorstr=#E6E6E6);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FBFBFB, endColorstr=#E6E6E6)";
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(210, 210, 210, 0.5);
}

.tab2 td:first-child,
.tab2 th:first-child {
	border-left: none;
}

.tab2 tr:first-child th {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0!important;
}

.tab2 tr:last-child th {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
	border-bottom: none
}

.tab2 tr:last-child td {
	border-bottom: none
}

.tab2 tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.tab3 {}

.tab3 tr {}

.tab3 td {
	text-align: center;
	font-size: 12px;
}

.tab3 th {
	height: 30px;
	border-bottom: 2px #d4d4d4 solid;
	font-size: 16px;
}


/* ------------------- multiply CSS End------------------ */


/* ------------------- content CSS ------------------ */

.logo {
	background: url("img/logo.png") no-repeat 10px center;
	background: url("img/logo2.png") no-repeat 10px center\9;
	height: 35px;
	background-size: 215px 35px;
	clear: both;
	overflow: hidden;
}

.home {
	display: block;
	position: absolute;
	width: 210px;
	height: 60px;
	z-index: 1;
	top: 15px;
	left: 10px;
}

.logoNav {
	top: 0;
	right: 0
}

.logoNav a {
	padding: 0 5px
}

.logoNav a:hover {
	background-color: #F60;
	color: #fff
}

.jiao {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: transparent;
	top: -1px;
	right: -1px;
}

.jiao:before {
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
	bottom: 0;
	border-bottom: 20px solid #ccc;
	border-right: 20px solid #fff;
	content: "";
}

.jiao:after {
	position: absolute;
	left: 0;
	right: 1px;
	top: 1px;
	bottom: 0;
	border-bottom: 19px solid white;
	border-right: 19px solid transparent;
	content: "";
}

.loginBox {
	margin: 0 auto 80px auto;
}

#content {
	max-width: 1024px;
	margin: 0 auto;
	margin-bottom: 60px;
}

#fb> ul {
	position: relative;
	overflow: hidden;
}

#fb> ul> li {
	float: left;
	width: 100%
}

.loadingMask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
	top: 0;
	display: none
}

.loadingMask img {
	top: 50%;
	position: absolute;
	margin-top: -100px;
	left: 50%;
	margin-left: -50px;
	z-index: 1
}

.loadingMaskC {
	height: 10%;
	background-color: #3C3C3C;
	position: relative;
	left: 100%;
}

.userInfo {}

.userInfo span:first-child {
	word-break: break-word;
	padding: 0 2px;
	display: block;
	clear: both;
	float: none;
	margin-bottom: 30px;
	border: none;
	background: #FEEBE9
}

.userInfo span:nth-child(2) {
	border-left: 2px #C6224A solid;
}

.userInfo span {
	border-top: 2px #C6224A solid;
	border-bottom: 2px #C6224A solid;
	display: inline-block;
	border-right: 2px #C6224A solid;
	text-align: center;
	padding: 0 9px;
	margin: 0;
	position: relative;
	float: left;
}

.userInfo a.abtn {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 8px;
	background-color: #C6224A;
	color: #fff;
	font-weight: bold;
	border: 2px #C6224A solid;
	position: relative
}

.userInfo a.abtn:active {
	background-color: #E86257
}

.Distributor {
	height: 50px;
	position: relative;
	background: url(img/back.jpg) no-repeat 0 bottom;
	left: -10px;
}

.btb2 {
	position: absolute;
	font-size: 12px;
}

.btn100 {
	display: block;
	height: 100%;
	width: 100%
}

.box2 {
	position: relative;
	padding-left: 23px;
	margin-bottom: 15px;
}

.box2:before {
	position: absolute;
	left: 10px;
	width: 4px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#C6224A));
	background-image: -webkit-linear-gradient(top, #fff, #C6224A);
	background-image: -moz-linear-gradient(top, #fff, #C6224A);
	background-image: -ms-linear-gradient(top, #fff, #C6224A);
	background-image: -o-linear-gradient(top, #fff, #C6224A);
	background-image: linear-gradient(top, #fff, #C6224A);
	height: 100%;
	content: "";
	border-radius: 5px 5px 0 0;
}

.box2:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-color: #C6224A transparent transparent;
	border-width: 8px;
	border-style: solid;
	left: 4px;
}

.box2 h3 {
	color: #999;
	font-weight: normal;
	border-bottom: 1px #ccc dotted;
	line-height: 28px;
}

.roundR {
	background: #C6224A;
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	margin-right: 10px;
	font-weight: bold;
	font-style: normal
}

.xh dh {
	display: block;
	margin: 5px
}

.meeting:after,
.Events:after {}

.meeting,
.Events {
	position: absolute;
	right: 5px;
	top: 0px;
	font-size: 25px;
	text-align: center;
	width: 40px;
	border-right: 1px #ccc solid;
	border-left: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	height: 32px;
	background: #efefef;
	color: #C6224A;
}

.meeting:before,
.Events:before {
	position: absolute;
	font-size: 25px;
	width: 6px;
	z-index: 0;
	left: 8px;
}

.meeting:before {
	content: "\e609";
}

.Events:before {
	content: "\e602";
}

.t {
	position: absolute;
	top: -23px;
	margin-left: -9px;
	left: 50%;
}

.error {
	color: #CD3A5E;
	font-size: 14px;
	padding: 2px;
}

.error:before,
.nav1A:before,
.nav1B:before,
.nav1C:before,
.nav1D:before,
.nav1:before,
.nav2:before,
.nav3:before,
.nav4:before,
.nav5:before {
	font-family: "iconfont" !important;
}

.error:before {
	content: "\e60f";
	margin-right: 5px;
	font-size: 14px;
}

.nav1A:before {
	content: "\e61b";
	margin-right: 5px;
	font-size: 21px;
}

.nav1B:before {
	content: "\e60d";
	margin-right: 5px;
	font-size: 21px;
}

.nav1C:before {
	content: "\e608";
	margin-right: 5px;
	font-size: 21px;
}

.nav1D:before {
	content: "\e601";
	margin-right: 5px;
	font-size: 21px;
}

.audio-playlist {
	margin-top: 5px;
}

.audio-playlist li {
	border-bottom: 1px #ccc dotted;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.audio-playlist .sel {
	color: #C6224A;
	font-weight: bold
}


/* ------------------- content CSS End------------------ */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.icon {
		background-image: url(example@2x.png);
		/* 2倍尺寸图片 */
	}
}


/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

.dk_container {
	background-color: #f5f5f5;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dk_container:focus {
	outline: 0;
}

.dk_container[disabled] {
	opacity: .4;
}

.dk_container a {
	cursor: pointer;
	text-decoration: none;
}

.dk_container[disabled] a {
	cursor: not-allowed;
}

.dk_toggle {
	border: 1px solid #ccc;
	color: #333;
	padding: 7px 45px 7px 10px;
	text-shadow: #fff 1px 1px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
	-o-transition: border-color .5s;
	transition: border-color .5s;
	position: relative;
}

.dk_toggle:hover,
.dk_toggle:focus {
	border-color: #8c8c8c;
}

.dk_toggle:after {
	position: absolute;
	top: 45%;
	right: 10px;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4B4B4B;
}

.dk_focus .dk_toggle {
	border-color: #40b5e2;
	box-shadow: 0 0 5px #40b5e2;
	-moz-box-shadow: 0 0 5px #40b5e2;
	-webkit-box-shadow: 0 0 5px #40b5e2;
}

.dk_open {
	box-shadow: 0 0 5px #40b5e2;
	-moz-box-shadow: 0 0 5px #40b5e2;
	-webkit-box-shadow: 0 0 5px #40b5e2;
	z-index: 10;
}

.dk_open .dk_toggle {
	background-color: #ececec;
	border-color: #8c8c8c;
	color: #ccc;
	box-shadow: inset 0 -2px 5px #ccc;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.dk_open_top .dk_toggle {
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.dk_open_top .dk_options,
.dk_open_top .dk_options_inner {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.dk_options {
	background: #fefefe;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.dk_options a {
	background-color: #fff;
	border-bottom: 1px solid #999;
	font-weight: bold;
	padding: 8px 10px;
}

.dk_options a:hover,
.dk_options:focus,
.dk_options .dk_option_current a {
	background-color: #C6224A;
	border-bottom-color: #666;
	color: #fff;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}

.dk_options li:last-child a {
	border-bottom: none;
}

.dk_options .disabled {
	cursor: default;
}

.dk_options .disabled a,
.dk_options .dk_optgroup.disabled> span {
	color: #aaa;
}

.dk_options .disabled:hover a,
.dk_options .disabled:focus a {
	cursor: default;
	background-color: #fff;
	border-bottom-color: #999;
	text-shadow: none;
}

.dk_options .dk_optgroup {
	padding-left: 5px;
	background: #ddd;
}

.dk_options .dk_optgroup> span {
	display: block;
	padding: 5px 10px 5px 5px;
	font-style: italic;
	color: #444;
	background: #ddd;
	border-bottom: ;
}

.dk_options .dk_optgroup.disabled,
.dk_options .dk_optgroup.disabled> span {
	background: #eee;
}

.dk_options_inner {
	max-height: 250px;
	border: 1px solid #8c8c8e;
	border-bottom-width: 2px;
	border-bottom-color: #999;
	color: #333;
	text-shadow: #fff 0 1px 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.dk_container {
	display: none;
}

.dk_container a {
	width: 100%;
	box-sizing: border-box;
	outline: 0;
}

.dk_toggle {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
}

.dk_open {
	position: relative;
}

.dk_open .dk_options {
	display: block;
}

.dk_open .dk_label {
	color: inherit;
}

.dk_options {
	display: none;
	margin-top: -1px;
	position: absolute;
	right: 0;
	width: 100%;
}

.dk_options a,
.dk_options a:link,
.dk_options a:visited {
	display: block;
}

.dk_options_inner {
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}

.dk_container select {
	position: absolute;
	visibility: hidden;
	left: 0
}

.dk_mobile {
	position: relative;
}

.dk_mobile select {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}


/* Here we reflect some of the styles from .dk_container to achieve the same visual also when without javascript */

.dk_wrap {
	position: relative;
	display: inline-block;
	min-width: 173px;
	float: left;
	margin-right: 10px;
	margin-bottom: 18px;
	background-color: #f5f5f5;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
	-o-transition: border-color .5s;
	transition: border-color .5s;
}

.dk_wrap:after {
	position: absolute;
	display: block;
	top: 45%;
	right: 10px;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4B4B4B;
	pointer-events: none;
}

.dk_wrap select {
	position: relative;
	display: block;
	width: 110%;
	min-height: 32px;
	padding: 6px 49px 6px 6px;
	border: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #333;
	text-indent: 0.01px;
	text-overflow: '';
	text-shadow: #fff 1px 1px 0;
	background: transparent;
	background: rgba(255, 255, 255, 0);
	cursor: pointer;
	border-radius: 0;
	box-shadow: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.dk_wrap select:focus {
	text-shadow: none;
}

.dk_wrap select::-ms-expand {
	display: none;
}

.navs {}

.navs:before {
	display: table;
	content: " ";
}

.navs:after {
	display: table;
	content: " ";
	clear: both;
}

.nav-tabs {
	border-bottom: 0;
}

.nav-tabs> li {
	margin-right: 2px;
	border-top: 1px solid transparent;
	float: left;
	margin-bottom: 0px;
	/*max-width: 170px;*/
	white-space: nowrap;
	overflow: hidden;
}

.nav-tabs> li a {
	position: relative;
	display: block;
	padding: 10px;
	background: #fff;
	border-radius: 0;
}

.nav-tabs li.active {
	border-top: 3px solid #F3565D;
	position: relative;
	margin-bottom: -2px;
}

.nav-tabs li.active a {
	color: #41a41e!important;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	border-top: none;
	margin-right: 0;
}

.tab-content {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	/* border-top: 0; */
}

.tab-content>.tab-pane {
	display: none;
	visibility: hidden;
}

.tab-content>.active {
	display: block;
	visibility: visible!important;
}

.tabbable-custom {
	margin-bottom: 15px;
	padding: 0px;
	overflow: hidden;
}

.table-toolbar {
	font-size: 13px;
	color: #737373;
}

.fixed-table-body {
	overflow-x: auto;
	overflow-y: auto;
	height: 100%;
	position: relative;
}
.zhedie ul{
	clear: both;
    margin-top: 10px;}
.zhedie ul ul{
}
.zhedie li {
	font-size: 14px;
	border-top: 1px #f1d8b2 solid;
	padding: 10px 0 10px 5px;
	overflow: hidden;
	clear: both;
}
.zhedie li li {
    margin-left: -5px;
}
.zhedie li li:last-child{
	margin-bottom: -10px;
}
.zhedie li .user {
	float: left;
	text-align: center;
	margin: 0 5px;
	height: 36px;
	overflow: hidden;
	border-right: 1px #ccc dotted;
	padding-right: 5px;
	width: 80px;
}

.zhedie li .user p {
	margin-bottom: 2px;
	font-weight: bold;
}

.zhedie li .user span {
	font-size: 12px;
}

.zhedie table td {
	width: 90px\9;
	text-align: left\9;
}

table {
	border-collapse: inherit\9;
	width: 100%
}

table .active {
	background: #DEF9BA;
}

.zhedie .button {
	height: 31px;
	float: left;
	width: 18px;
	text-align: right;
}

.zhedie b {
	font-weight: normal;
	display: inline-block;
	font-size: 13px;
	margin-right: 5px;
	color: #999;
	line-height: 18px
}

.zhedie b span {
	color: #585858;
    margin-left: 2px;
}

.zhedie td:nth-child(3) {
	min-width: 100px;
	width: 45%;
	word-break: break-all;
}

.zhedie td:nth-child(4) {
	width: 10%;
	min-width: 50px;
}

.zhedie td:nth-child(5) {
	width: 15%;
	min-width: 77px;
}

.zhedie td {
	/* width: 20%; */
	text-align: left;
}

.zhedie .fa .noline_open:before {
	content: "\f146";
	margin-right: 5px;
	cursor: pointer;
}

.zhedie .fa .noline_close:before {
	content: "\f0fe";
	margin-right: 5px;
}

.daojishi {
	text-align: center;
	padding: 15px;
}

.daojishi>div {
	width: 22%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px #efefef solid;
}

.daojishi>div:last-child {
	border-right: none;
}

.daojishi>div b {
	font-size: 24px;
	color: #f37112;
}

.daojishi>div span {
	display: block;
}

.daojishiFoot {
	background: #efefef;
	padding: 5px;
	border-radius: 5px;
}

.btn-group>.btn.active {
	z-index: 0;
}

@media only screen and (max-width: 640px) {
	.inline_box.med {
		display: block;
	}
	.inline_two,
	.float_two {
		width: 100%;
	}
}
/* Firefox only */

@-moz-document url-prefix() {
	.dk_wrap select {
		padding: 7px 49px 5px 6px;
	}
}
/* IE 10 + IE 11 only */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.dk_wrap select {
		padding: 6px 47px 6px 8px;
	}
}